#Universidad{
    margin-bottom: 1em;
    height : 12em;
    transition: all .8s;
}   
#link{
  color: black;
  text-decoration: none;
}
p{
  font-size:15px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-top: 5px;
}
#info{
  padding: 0px;
}
#LogoUniversidad{
    width: 50px;
    height: 50px;
}

.card-body h5{font-size: 1vw;font-style: italic}
.programa-title h3{font-size: 2vw}
#Programa:hover{background-color: #00c0be;cursor:pointer}

@media only screen and (max-width: 500px) {
    .Universidad {
      width: 99% !important;
    }
  }

@media (max-width: 768px) {
    .card-body h5{font-size: 1.5vw;font-style: italic}
    .programa-title h3{font-size: 2.8vw}
}

