#homeContainer{
    min-height: 100vh;
    flex-direction: column;
    background-color: #edf7f6;
}
#searchBar{
    border-radius: 0.3em ;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.1em solid #464655;
    width: 700px; 
    background-color: #edf7f6;
}
.initialBtns{
    border-radius: 17px;
    background-color: #dfeef7;
    border: 0.1em solid #ffffff;
    color : #024972;
    margin: 0.3rem;
}
#slogan{
    font-size: 5vw;
    font-weight: bolder;
    padding-bottom: 0.2em;
}