.listas{
    position: fixed;
    left: 15%;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
    width: 86%;
}

#ListaProgramas{
    flex-grow: 0.8;
}

@media (max-width: 768px) {
    .listas{
        left: 0;
        padding: 0;
        height: 88%;
        width: 102%;
    }
}
