.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #464655;
}

.logo{
    top: 2%;
    padding: 0 15%;
    width: 100%;
    position: absolute;
}

.logo:hover{cursor:pointer;}
.logo img{width: 100%;}

.menu_section{
    position: absolute;
    overflow: hidden;
    width: 100%;
    font-weight: 600;
    padding: 1vw 2.5vw 1vw 1.5vw;
    color: #007dc6;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    font-size: 1.1vw;
    text-align: left;
}

.section_1{top: 5.5vw;}
.section_2{top: 22.5vw;}

.menu__wrap_1 {
    position: absolute;
    top: 8.5vw;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.menu__wrap_2 {
    position: absolute;
    top: 25.5vw;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.menu__level{padding: 0;}
.menu__item {display: block;}

.menu__link {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 1vw 2.5vw 1vw 1.5vw;
    color: #edf7f6;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    font-size: 1vw;
    text-align: left;
    left: 12%;
}

.menu__link:hover{color: #00c0be;cursor:pointer;}
.fas{padding-right: 0.5vw;}




.menu_movil {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background: #464655;
}

.menu_movil .row{height: 100%;}

.logo_movil{
    top: 20%;
    width: 100%;
    position: relative;
    text-align: center;
}

.logo_movil:hover{cursor:pointer;}
.logo_movil img{width: 60%;}

.menu_movil__link {
    top: 6%;
    font-weight: 600;
    position: relative;
    display: block;
    color: #edf7f6;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    text-align: center;
}

@media (max-width: 576px) {
    .menu_movil__link  {
        display: inline;
        top: 13%;
        font-size: 7vw;
    }
    .logo_movil{top: 20%;text-align: center;}
    .logo_movil img{width: 85%;}
    .col_izq{padding-left: 30px}
    .col_der{padding-right: 25px}
}

@media (min-width: 577px) {
    .col_izq{padding-right: 0;padding-left: 30px}
    .col_der{padding-left: 0;padding-right: 25px}
}

.menu_movil__link:hover{color: #00c0be;cursor:pointer;}
.menu_movil__item{height: 100%;}


