.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #464655;
}

.logo{
    top: 2%;
    padding: 0 15%;
    width: 100%;
    position: absolute;
}

.logo img{width: 100%;}

.menu_section{
    position: absolute;
    overflow: hidden;
    width: 100%;
    font-weight: 600;
    padding: 1em 2.5em 1em 1.5em;
    color: #007dc6;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    font-size: 100%;
    text-align: left;
}

.section_1{top: 5.5em;}
.section_2{top: 23.5em;}

.menu__wrap_1 {
    position: absolute;
    top: 8.5em;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.menu__wrap_2 {
    position: absolute;
    top: 26.5em;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.menu__level{padding: 0;}
.menu__item {display: block;}

.menu__link {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 1em 2.5em 1em 1.5em;
    color: #edf7f6;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    font-size: 1em;
    text-align: left;
    left: 12%;
}

.menu__link:hover{color: #00c0be;}
.fas{padding-right: 4%;}




.menu_movil {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background: #464655;
}

.menu_movil .row{height: 100%;}

.logo_movil{
    top: 25%;
    width: 100%;
    position: relative;
    font-size:2.5rem;
    text-align: center;
}

.logo_movil img{width: 60%;}

.menu_movil__link {
    top: 12%;
    font-weight: 600;
    position: relative;
    display: block;
    color: #edf7f6;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
    font-size: 88%;
    text-align: center;
}

.menu_movil__link:hover{color: #00c0be;}
.menu_movil__item{height: 100%;}
.col_izq{padding-right: 0;padding-left: 30px}
.col_der{padding-left: 0;padding-right: 25px}

