.Programa{
    transition: all .8s;
    background: white;
    padding : 0;
}   
.nombreprograma{
    font-size: 0.8em;
    font-weight: bolder;
    font-family: 'Karla', 'sans-serif';
    padding-top: 0.2em;
}
.little{
    height: 45px;
}
.badgeProg{
    width: 99px;
}
.badge-financieras{
    background-color: #57490a;
    color : white;
    line-height: normal;
}
.badge-ingenieria{
    background-color: #120a57;
    color : white;
    line-height: normal;

}
.badge-artes{
    background-color: #0a573d;
    color : white;
    line-height: normal;

}
.Programa:hover{background-color: #00c0be;cursor:pointer}
.area{
    font-family: 'Karla', 'sans-serif';
    font-size: 0.6em;
}

@media (max-width: 768px) {
    .area{font-size: 1.5vw;font-style: italic}
    .badgeProg{width: 80px}
    .nombreprograma{font-size: 0.6em;}
}
@media (max-width: 642px) {
    .area{font-size: 1.5vw;font-style: italic}
    .badgeProg{width: 70px; font-size: 0.4em}
    .nombreprograma{font-size: 0.55em;}

}
@media (max-width: 540px) {
    .area{font-size: 1.5vw;font-style: italic}
    .badgeProg{width: 57px !important; font-size: 0.35em
    }
    .nombreprograma{font-size: 0.50em;}

}

