#Programa{
    margin-bottom: 1em;
    transition: all .8s;
    background: #edf7f6;
}

#Programa:hover{background-color: #00c0be;cursor:pointer}
.programa-title h3{font-size: 2vw}
#area{font-size: 1vw}

@media (max-width: 768px) {
    .programa-title h3{font-size: 2.5vw}
    #area{font-size: 1.5vw;font-style: italic}
}
