.Programa{
    transition: all .8s;
    background: white;
}   
.nombreprograma{
    font-size: 0.8em;
    font-weight: 500;
}

.programa-title h3{font-size: 2vw}

.Programa:hover{background-color: #00c0be;cursor:pointer}
.area{
    font-family: 'Karla', 'sans-serif';
    font-size: 0.6em;
}

@media (max-width: 768px) {
    .programa-title h3{font-size: 2.5vw}
    .area{font-size: 1.5vw;font-style: italic}
}

