.validation{
    color: #007dc6;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
}

#but{
    display: block;
    background-color: #007dc6;
    border-color: #007dc6;
    font-family: 'Cairo', serif;
}

